@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Local Theatre Company</h1>
    <p class="lead">Welcome to the official page of the Local Theatre Company! Click below for more information...</p>
    <p><a href="http://netflix.comt" class="btn btn-primary btn-lg">Click here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            The Local Theatre Company is for people who wish to express themselves and for people who wish to view others expressing themselves.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keep up to date!</h2>
        <p>Sign up now to be able to view and comment on all of our recent articles!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>Thank you for visiting our website</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>